MEILI_MASTER_KEY=ptgen-local-master-key
MEILI_URL=http://meilisearch:7700
MEILI_INDEX=works
API_PORT=8080

PTGEN_REPO_URL=https://github.com/ourbits/PtGen.git
PTGEN_PATH=/data/ptgen
STATE_DIR=/data/state
PTGEN_BRANCH=main
PTGEN_SKIP_GIT_UPDATE=0
PTGEN_MAX_FILES_PER_SOURCE=0
PTGEN_INCLUDE_FILES=

INGEST_RUN_ON_START=1
INGEST_INTERVAL_SECONDS=86400
INGEST_BATCH_SIZE=2500
